<!DOCTYPE html>
<html>
<head>
    <title>VulnLab</title>
</head>
<body>

    <h1>Vulnerability Labs</h1>

    <div>
        <h2>Module 1: SQL Injection</h2>
        <p>Login system behaving strangely...</p>
        <a href="/module/sqli"><button>Start</button></a>
    </div>

    <div>
        <h2>Module 2: Broken Authentication</h2>
        <p>Session handling seems weak...</p>
        <a href="/module/auth"><button>Start</button></a>
    </div>

    <div>
        <h2>Module 3: XSS</h2>
        <p>User input is reflected somewhere...</p>
        <a href="/module/xss"><button>Start</button></a>
    </div>
</body>
</html>